<% layout('/layouts/default.html', {title: '危险源管理', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-alt"></i> ${text('危险源管理')}
            </div>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
                <a href="${ctx}/swm/swmHazardSource/form" class="btn btn-default btnTool" title="${text('新增危险源')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" model="${swmHazardSource}" action="${ctx}/swm/swmHazardSource/listData" method="post" class="form-inline hide" data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
                <div class="form-group">
                    <label class="control-label">${text('危险源名称')}：</label>
                    <div class="control-inline">
                        <#form:input path="hazardName" maxlength="255" class="form-control width-120"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">${text('危险源类别')}：</label>
                    <div class="control-inline width-120">
                        <#form:select path="hazardCategory" dictType="hazard_category_enum" blankOption="true" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">${text('所属信标')}：</label>
                    <div class="control-inline">
                        <#form:input path="beaconIdentifier" maxlength="100" class="form-control width-120"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">${text('是否加入巡检')}：</label>
                    <div class="control-inline width-120">
                        <#form:select path="isPatrolIncluded" dictType="is_patrol_included_enum" blankOption="true" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">${text('危险源状态')}：</label>
                    <div class="control-inline width-120">
                        <#form:select path="hazardStatus" dictType="hazard_status_enum" blankOption="true" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">${text('状态')}：</label>
                    <div class="control-inline width-120">
                        <#form:select path="status" dictType="sys_status" blankOption="true" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
                    <button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
                </div>
            </#form:form>
            <table id="dataGrid"></table>
            <div id="dataGridPage"></div>
        </div>
    </div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
    searchForm: $("#searchForm"),
    columnModel: [
        {header:'${text("危险源名称")}', name:'hazardName', index:'a.hazard_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
            return '<a href="${ctx}/swm/swmHazardSource/form?id='+row.id+'" class="btnList" data-title="${text("编辑危险源")}">'+(val||'')+'</a>';
        }},
        {header:'${text("危险源类别")}', name:'hazardCategoryText', index:'a.hazard_category', width:100, align:"center"},
        {header:'${text("位置")}', name:'location', index:'a.location', width:150, align:"left"},
        {header:'${text("所属信标")}', name:'beaconIdentifier', index:'a.beacon_identifier', width:100, align:"center"},
        {header:'${text("是否加入巡检")}', name:'isPatrolIncludedText', index:'a.is_patrol_included', width:100, align:"center"},
        {header:'${text("登记时间")}', name:'registrationTime', index:'a.registration_time', width:150, align:"center"},
        {header:'${text("危险源状态")}', name:'hazardStatusText', index:'a.hazard_status', width:100, align:"center"},
        {header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
        {header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
        {header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
            var actions = [];
            actions.push('<a href="${ctx}/swm/swmHazardSource/form?id='+row.id+'" class="btnList" title="${text("编辑危险源")}"><i class="fa fa-pencil"></i></a>&nbsp;');
            actions.push('<a href="${ctx}/swm/swmHazardSource/delete?id='+row.id+'" class="btnList" title="${text("删除危险源")}" data-confirm="${text("确认要删除该危险源记录吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
            return actions.join('');
        }}
    ],
    // 加载成功后执行事件
    ajaxSuccess: function(data){
        
    }
});
</script> 