<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmAlarmLightConfigMapper">
	
	<sql id="swmAlarmLightConfigColumns">
		a.id,
		a.light_id,
		a.alarm_config_id,
		a.voice_template_id,
		a.status,
		a.create_by,
		a.create_date,
		a.update_by,
		a.update_date,
		a.remarks
	</sql>
	
	<sql id="swmAlarmLightConfigJoins">
		LEFT JOIN swm_alarm_config b ON b.id = a.alarm_config_id AND b.status = '0'
		LEFT JOIN swm_voice_template c ON c.id = a.voice_template_id AND c.status = '0'
	</sql>
	
	<select id="get" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmAlarmLightConfigDO">
		SELECT 
			<include refid="swmAlarmLightConfigColumns"/>,
			b.alarm_name,
			c.template_name
		FROM swm_alarm_light_config a
		<include refid="swmAlarmLightConfigJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmAlarmLightConfigDO">
		SELECT
			<include refid="swmAlarmLightConfigColumns"/>,
			b.alarm_name,
			c.template_name
		FROM swm_alarm_light_config a
		<include refid="swmAlarmLightConfigJoins"/>
		<where>
			a.status = #{STATUS_NORMAL}
			<if test="lightId != null and lightId != ''">
				AND a.light_id = #{lightId}
			</if>
			<if test="alarmConfigId != null and alarmConfigId != ''">
				AND a.alarm_config_id = #{alarmConfigId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findListByLightId" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmAlarmLightConfigDO">
		SELECT 
			<include refid="swmAlarmLightConfigColumns"/>,
			b.alarm_name,
			c.template_name
		FROM swm_alarm_light_config a
		<include refid="swmAlarmLightConfigJoins"/>
		WHERE a.light_id = #{lightId} AND a.status = '0'
		ORDER BY a.create_date ASC
	</select>
	
	<select id="findAllList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmAlarmLightConfigDO">
		SELECT 
			<include refid="swmAlarmLightConfigColumns"/>,
			b.alarm_name,
			c.template_name
		FROM swm_alarm_light_config a
		<include refid="swmAlarmLightConfigJoins"/>
		<where>
			a.status = #{STATUS_NORMAL}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>

	
	<update id="deleteByLightId">
		UPDATE swm_alarm_light_config SET 
			status = '1',
			update_by = #{updateBy},
			update_date = NOW()
		WHERE light_id = #{lightId}
	</update>
	
</mapper>
