<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmHiddenDangerMapper">
	
	<!-- 查询条件 -->
	<sql id="swmHiddenDangerColumns">
		a.id AS "id",
		a.danger_name AS "dangerName",
		a.location AS "location",
		a.inspection_plan_id AS "inspectionPlanId",
		a.is_beacon_deployed AS "isBeaconDeployed",
		a.is_handled AS "isHandled",
		a.status AS "status",
		a.create_by AS "createBy",
		a.create_date AS "createDate",
		a.update_by AS "updateBy",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		b.plan_name AS "inspectionPlanName"
	</sql>
	
	<!-- 查询条件 -->
	<sql id="swmHiddenDangerJoins">
		LEFT JOIN swm_inspection_plan b ON b.id = a.inspection_plan_id
	</sql>
	
	<!-- 查询数据（包含关联查询） -->
	<select id="findListWithPlanName" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmHiddenDangerDO">
		SELECT 
			<include refid="swmHiddenDangerColumns"/>
		FROM swm_hidden_danger a
		<include refid="swmHiddenDangerJoins"/>
		<where>
			
			<if test="dangerName != null and dangerName != ''">
				AND a.danger_name LIKE #{dangerName}
			</if>
			<if test="location != null and location != ''">
				AND a.location LIKE #{location}
			</if>
			<if test="inspectionPlanId != null and inspectionPlanId != ''">
				AND a.inspection_plan_id = #{inspectionPlanId}
			</if>
			<if test="isBeaconDeployed != null and isBeaconDeployed != ''">
				AND a.is_beacon_deployed = #{isBeaconDeployed}
			</if>
			<if test="isHandled != null and isHandled != ''">
				AND a.is_handled = #{isHandled}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
		</where>
		ORDER BY a.create_date DESC
	</select>
	
</mapper> 