<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmHelmetConfigMapper">
	
	<!-- 鏌ヨ鏁版嵁 -->
	<select id="findList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmHelmetConfigDO">
		SELECT 
		FROM 
		<where>
			
		</where>
		ORDER BY 
	</select>
	
	<!-- 鑾峰彇杞﹂棿鏁版嵁 -->
	<!-- author: Shawn -->
	<!-- date: 2025/06/24 -->
	<!-- description: 鏌ヨfms_position_archive琛ㄤ腑type='CJ'鐨勮溅闂存暟鎹?-->
	<select id="getWorkshopData" resultType="java.util.Map">
		SELECT 
			id, 
			'0001A110000000002ZWA' AS parent_id, 
			position_name AS title 
		FROM fms_position_archive 
		WHERE type = 'CJ' 
		  AND region = '0001A110000000002ZWA' 
		  AND status = '0'
	</select>
	
	<!-- 鑾峰彇杞﹂棿-浜х嚎-鐝粍鏁版嵁 -->
	<!-- author: Shawn -->
	<!-- date: 2025/06/24 -->
	<!-- description: 鏍规嵁鐢ㄦ埛瑕佹眰鐨凷QL鏌ヨ杞﹂棿-浜х嚎-鐝粍鏁版嵁锛屽皢workshop_name銆乴ine_name銆亀ork_group_name鎷兼帴浣滀负鍚嶇О -->
	<select id="getWorkshopLineGroupData" resultType="java.util.Map">
		SELECT
		    pa.position_name AS workshop_name, -- 浠庤溅闂磋〃鑾峰彇杞﹂棿鍚嶇О
		    pl.prod_line_name AS line_name,     -- 浠庝骇绾胯〃鑾峰彇浜х嚎鍚嶇О
		    wg.work_group_name, -- 鑾峰彇鐝粍琛ㄧ殑鎵€鏈夊瓧娈典俊鎭?
		    wg.id,
		    CONCAT(pa.position_name, '-', pl.prod_line_name, '-', wg.work_group_name) AS title -- 鎷兼帴鍚嶇О
		FROM
		    -- 鍩虹琛細杞﹂棿褰掓。琛紝骞惰缃埆鍚嶄负 pa
		    fms_position_archive pa
		JOIN
		    -- 杩炴帴浜х嚎琛?(pl)锛屽叧鑱旀潯浠舵槸 杞﹂棿id = 浜х嚎涓殑work_shop_id
		    fms_prod_line pl ON pa.id = pl.work_shop_id
		JOIN
		    -- 杩炴帴鐝粍琛?(wg)锛屽叧鑱旀潯浠舵槸 浜х嚎id = 鐝粍涓殑prod_line_id
		    fms_work_group wg ON pl.id = wg.prod_line_id
		WHERE
		    -- 璁剧疆 fms_position_archive 琛ㄧ殑绛涢€夋潯浠?
		    -- 鎮ㄥ彲浠ユ牴鎹渶瑕佷慨鏀硅繖浜涘€?
		    pa.type = 'CJ'
		    AND pa.region = '0001A110000000002ZWA'
		    AND pa.status = '0'
	</select>
	
	<!-- 鑾峰彇浜哄憳绫诲瀷瀛楀吀鏁版嵁 -->
	<!-- author: Shawn -->
	<!-- date: 2025/06/24 -->
	<!-- description: 鑾峰彇瀛楀吀绫诲瀷涓簆erson_type_enum鐨勫瓧鍏告暟鎹紝鐢ㄤ簬"鎸変汉鍛樼被鍨嬪睍绀?鐨勯鑹查厤缃?-->
	<select id="getPersonTypeEnumData" resultType="java.util.Map">
		SELECT 
		    dict_value AS id,
		    dict_label AS title
		FROM swm_dict_data
		WHERE dict_type = 'person_type_enum' 
		  AND status = '0'
	</select>
	
	<!-- 鑾峰彇宸ョ鏁版嵁 -->
	<!-- author: Shawn -->
	<!-- date: 2025/06/24 -->
	<!-- description: 鑾峰彇 swm_work_type 琛ㄤ腑鐨勫伐绉嶆暟鎹紝鐢ㄤ簬"鎸夊伐绉嶅睍绀?鐨勯鑹查厤缃?-->
	<select id="getWorkTypeEnumData" resultType="java.util.Map">
		SELECT 
		    dict_label AS id,
			dict_label AS title
		FROM swm_dict_data
		WHERE status = '0'
		ORDER BY dict_label
	</select>
    <select id="getByDeviceId" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmHelmetDeviceDO">
		select * from swm_helmet_device_config where device_id = #{deviceId} and status = '0'
	</select>

</mapper> 
