<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmInspectionListMapper">

    <!-- 鏌ヨ瀛楁 -->
    <sql id="swmInspectionListColumns">
        a.id AS "id",
        a.plan_id AS "planId",
        a.plan_name AS "planName",
        a.inspection_type AS "inspectionType",
        a.inspector_id AS "inspectorId",
        p.name AS "inspector",
        plan.plan_code AS "planCode",
        a.start_time AS "startTime",
        a.end_time AS "endTime",
        a.attachment_path AS "attachmentPath",
        a.inspection_list_status AS "inspectionListStatus",
        a.create_by AS "createBy",
        a.create_date AS "createDate",
        a.update_by AS "updateBy",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.status AS "status"
    </sql>

    <!-- 鏌ヨ杩炴帴琛?-->
    <sql id="swmInspectionListJoins">
        LEFT JOIN swm_person p ON p.id = a.inspector_id
        LEFT JOIN swm_inspection_plan plan ON plan.id = a.plan_id
    </sql>

    <!-- 鏍规嵁id鏌ヨ宸℃鍒楄〃 -->
    <select id="get" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmInspectionListDO" >
        SELECT
            <include refid="swmInspectionListColumns"/>
        FROM swm_inspection_list a
        <include refid="swmInspectionListJoins"/>
        WHERE a.id = #{id}
    </select>

    <!-- 鏌ヨ宸℃鍒楄〃 -->
    <select id="findList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmInspectionListDO" >
        SELECT
            <include refid="swmInspectionListColumns"/>
        FROM swm_inspection_list a
        <include refid="swmInspectionListJoins"/>
        <where>
            a.status = #{status}
            <if test="planCode != null and planCode != ''">
                AND plan.plan_code LIKE concat('%', #{planCode}, '%')
            </if>
            <if test="planName != null and planName != ''">
                AND a.plan_name LIKE concat('%', #{planName}, '%')
            </if>
            <if test="inspector != null and inspector != ''">
                AND p.name = #{inspector}
            </if>
            <if test="inspectionType != null and inspectionType != ''">
                AND a.inspection_type = #{inspectionType}
            </if>
            <if test="inspectionListStatus != null and inspectionListStatus != ''">
                AND a.inspection_list_status = #{inspectionListStatus}
            </if>
        </where>
        ORDER BY a.update_date DESC
    </select>

    <select id="getLastTaskByPlanId" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmInspectionListDO">
        select
        <include refid="swmInspectionListColumns"/>
        from swm_inspection_list a
        <include refid="swmInspectionListJoins"/>
        where a.plan_id = #{planId} order by a.start_time desc limit 1
    </select>

    <select id="latestInspectionRecord" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmInspectionListDO">
        select a.id                     AS "id",
               a.plan_id                AS "planId",
               a.plan_name              AS "planName",
               a.inspection_type        AS "inspectionType",
               a.inspector_id           AS "inspectorId",
               a.start_time             AS "startTime",
               a.end_time               AS "endTime",
               a.attachment_path        AS "attachmentPath",
               a.inspection_list_status AS "inspectionListStatus",
               a.create_by              AS "createBy",
               a.create_date            AS "createDate",
               a.update_by              AS "updateBy",
               a.update_date            AS "updateDate",
               a.remarks                AS "remarks",
               a.status                 AS "status",
               b.name                   AS "inspector",
               plan.plan_code           AS "planCode"
        from swm_inspection_list a
                 left join swm_person b on a.inspector_id = b.id
                 left join swm_inspection_plan plan on plan.id = a.plan_id
        where a.status = '0'
        order by a.start_time desc limit #{limit}
    </select>
    
    <!-- 鏍规嵁璁″垝ID鍒楄〃鏌ヨ宸℃璁板綍 -->
    <select id="findByPlanIds" resultType="java.util.HashMap">
        SELECT 
            a.id AS "id",
            a.plan_id AS "planId",
            a.plan_name AS "planName",
            a.inspection_type AS "inspectionType",
            (CASE a.inspection_type
                WHEN '1' THEN '鏃ュ父宸℃'
                WHEN '2' THEN '涓撻」宸℃'
                WHEN '3' THEN '涓存椂宸℃'
                WHEN '4' THEN '鏈堝害宸℃'
                ELSE a.inspection_type
            END) AS "inspectionTypeText",
            a.inspector_id AS "inspectorId",
            p.name AS "inspector",
            plan.plan_code AS "planCode",
            a.start_time AS "startTime",
            a.end_time AS "endTime",
            a.inspection_list_status AS "inspectionListStatus",
            (CASE a.inspection_list_status
                WHEN '0' THEN '寰呭鐞?
                WHEN '1' THEN '杩涜涓?
                WHEN '2' THEN '宸插畬鎴?
                WHEN '3' THEN '宸插彇娑?
                ELSE a.inspection_list_status
            END) AS "inspectionListStatusText",
            a.attachment_path AS "attachmentPath",
            a.remarks AS "remarks"
        FROM swm_inspection_list a
        LEFT JOIN swm_person p ON p.id = a.inspector_id
        LEFT JOIN swm_inspection_plan plan ON plan.id = a.plan_id
        WHERE a.status = '0'
        <if test="planIds != null and planIds.size() > 0">
            AND a.plan_id IN 
            <foreach collection="planIds" item="planId" open="(" separator="," close=")">
                #{planId}
            </foreach>
        </if>
        ORDER BY a.start_time DESC
    </select>
    
    <!-- 妫€鏌ユ寚瀹氳鍒掑湪鎸囧畾鏃ユ湡鏄惁宸叉湁浠诲姟锛堥槻閲嶅鐢熸垚锛?-->
    <select id="countByPlanIdAndDate" resultType="int">
        SELECT COUNT(1) 
        FROM swm_inspection_list a
        WHERE a.status = '0'
        AND a.plan_id = #{planId}
        AND DATE_FORMAT(a.start_time, '%Y-%m-%d') = #{dateStr}
    </select>
</mapper>

