<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmOrganizationTreeMapper">
    
    <!-- 结果映射 -->
    <resultMap id="treeNodeResultMap" type="cn.iocoder.yudao.module.swm.dal.dataobject.TreeNode">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="title" column="title"/>
        <result property="idCard" column="id_card"/>
    </resultMap>
    
    <!-- 获取厂间节点 - 这是组织树的最高级节点 -->
    <select id="getOfficeNodes" resultMap="treeNodeResultMap">
        SELECT 
            office_code AS id,
            '0' AS parent_id, 
            office_name AS title
        FROM system_dept
        WHERE extend_s4 IS NOT NULL 
        AND zip_code IS NOT NULL 
        AND status = '0'
    </select>
    
    <!-- 获取车间节点 -->
    <select id="getWorkshopNodes" resultMap="treeNodeResultMap">
        SELECT 
            id,
            #{officeId} AS parent_id,
            position_name AS title
        FROM fms_position_archive
        WHERE type = 'CJ'
        AND region = #{officeId}
        AND status = '0'
    </select>
    
    <!-- 获取产线节点 -->
    <select id="getProdLineNodes" resultMap="treeNodeResultMap">
        SELECT 
            id,
            work_shop_id AS parent_id,
            prod_line_name AS title
        FROM fms_prod_line
        WHERE work_shop_id = #{workshopId}
    </select>
    
    <!-- 获取班组节点 -->
    <select id="getWorkGroupNodes" resultMap="treeNodeResultMap">
        SELECT 
            id,
            prod_line_id AS parent_id,
            work_group_name AS title
        FROM fms_work_group
        WHERE prod_line_id = #{prodLineId}
    </select>
    
    <!-- 获取员工节点 -->
    <select id="getWorkerNodes" resultMap="treeNodeResultMap">
        SELECT
            sp.id,
            #{workGroupId} AS parent_id,
            sp.name AS title,
            sp.identity_card AS id_card,
            sp.id AS personId
        FROM swm_person sp
        LEFT JOIN fms_worker fw ON sp.identity_card COLLATE utf8mb4_general_ci = fw.identity_code COLLATE utf8mb4_general_ci
        <where>
            (fw.work_group_id = #{workGroupId} OR sp.team = #{workGroupId})
            AND sp.identity_card IS NOT NULL
            AND sp.status = '0'
            AND sp.personnel_status = '1'
            <if test="personTypeList != null and personTypeList.size >0">
                AND sp.person_type IN
                <foreach collection="personTypeList" item="personType" open="(" separator="," close=")">
                    #{personType}
                </foreach>
            </if>
        </where>
    </select>
    
</mapper> 