<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmPersonScheduleMapper">
    
    <!-- 閺屻儴顕楅弶鈥叉 -->
    <sql id="personScheduleWhere">
        WHERE 1=1
        <if test="personName != null and personName != ''">
            AND a.person_name LIKE CONCAT('%', #{personName}, '%')
        </if>
        <if test="month != null and month != ''">
            AND a.month = #{month}
        </if>
        <if test="classes != null and classes != ''">
            AND a.classes = #{classes}
        </if>
        <if test="idCard != null and idCard != ''">
            AND a.id_card = #{idCard}
        </if>
        <!-- 閺傛澘顤冮崶娑氶獓閺屻儴顕楅弶鈥叉 Author: Shawn Date: 2025/01/27 -->
        <if test="organization != null and organization != ''">
            AND (o.office_name LIKE CONCAT('%', #{organization}, '%') OR backup_o.office_name LIKE CONCAT('%', #{organization}, '%'))
        </if>
        <if test="workshop != null and workshop != ''">
            AND (p.position_name LIKE CONCAT('%', #{workshop}, '%') OR backup_p.position_name LIKE CONCAT('%', #{workshop}, '%'))
        </if>
        <if test="process != null and process != ''">
            AND (fpl.prod_line_name LIKE CONCAT('%', #{process}, '%') OR backup_fpl.prod_line_name LIKE CONCAT('%', #{process}, '%'))
        </if>
        <if test="workGroupName != null and workGroupName != ''">
            AND (wg.work_group_name LIKE CONCAT('%', #{workGroupName}, '%') OR backup_wg.work_group_name LIKE CONCAT('%', #{workGroupName}, '%'))
        </if>
    </sql>
    <!-- 閼奉亜鐣炬稊澶嬬叀鐠囶澁绱欑粈杞扮伐閿?-->
    <select id="findByIdCard" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmPersonScheduleDO">
        SELECT 
            a.id,
            a.person_name AS "personName",
            a.month,
            a.classes,
            a.id_card AS "idCard",
            a.employee_id AS "employeeId",
            a.create_by AS "createBy",
            a.create_date AS "createDate",
            a.update_by AS "updateBy",
            a.update_date AS "updateDate",
            a.remarks,
            a.status
        FROM swm_person_schedule a
        WHERE a.id_card = #{idCard}
        AND a.status = '0'
        ORDER BY a.update_date DESC
    </select>
    
    <!-- 閺嶈宓侀煬顐″敜鐠囦礁褰块懢宄板絿閻濐厾绮嶉崥宥囆?-->
    <select id="getWorkGroupNameByIdCard" resultType="String">
        SELECT
            COALESCE(wg.work_group_name, backup_wg.work_group_name) AS work_group_name
        FROM swm_person sp
        -- 閸忓疇浠堥張鈧弬鎵畱 fms_worker 鐠佹澘缍嶉敍鍫滃▏閻?EXISTS 娴兼ê瀵查幀褑鍏橀敍?
        LEFT JOIN fms_worker w ON sp.identity_card = w.identity_code COLLATE utf8mb4_general_ci
            AND NOT EXISTS (
                SELECT 1
                FROM fms_worker fw2
                WHERE fw2.identity_code = w.identity_code
                AND fw2.create_date &gt; w.create_date
            )
        LEFT JOIN fms_work_group wg ON w.work_group_id = wg.id
        -- 婢跺洨鏁ら崗瀹犱粓閿涘牓鈧俺绻僺wm_person鐞涖劋鑵戞穱婵嗙摠閻ㄥ墖eam鐎涙顔岄崗瀹犱粓閿?
        LEFT JOIN fms_work_group backup_wg ON sp.team = backup_wg.id COLLATE utf8mb4_general_ci
        WHERE sp.identity_card = #{idCard}
        AND sp.status = '0'
        LIMIT 1
    </select>
    
    <!-- 閺嶈宓侀煬顐″敜鐠囦礁褰块崪灞炬箑娴犺姤鐓＄拠銏″笓閻濐叀顔囪ぐ?-->
    <select id="findByIdCardAndMonth" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmPersonScheduleDO">
        SELECT 
            a.id,
            a.person_name AS "personName",
            a.month,
            a.classes,
            a.id_card AS "idCard",
            a.employee_id AS "employeeId",
            a.create_by AS "createBy",
            a.create_date AS "createDate",
            a.update_by AS "updateBy",
            a.update_date AS "updateDate",
            a.remarks,
            a.status
        FROM swm_person_schedule a
        WHERE a.id_card = #{idCard}
        <if test="month != null and month != ''">
            AND a.month = #{month}
        </if>
        AND a.status = '0'
        AND (1=1 OR a.tenant_id IS NOT NULL)
        ORDER BY a.update_date DESC
    </select>

    <!-- 閼惧嘲褰囬幍鈧張澶屽疆缂佸嫬鍨悰?-->
    <select id="findWorkGroupList" resultType="java.util.Map">
        SELECT
            id,
            work_group_name AS "name"
        FROM fms_work_group
        GROUP BY id, work_group_name
        ORDER BY work_group_name
    </select>
    
    <!-- 閹靛綊鍣洪懢宄板絿閻濐厾绮嶉崥宥囆?-->
    <select id="batchGetWorkGroupNameByIdCards" resultType="java.util.Map">
        SELECT DISTINCT
            sp.identity_card AS "key",
            COALESCE(wg.work_group_name, backup_wg.work_group_name) AS "value"
        FROM swm_person sp
        -- 閸忓疇浠堥張鈧弬鎵畱 fms_worker 鐠佹澘缍嶉敍鍫滃▏閻?EXISTS 娴兼ê瀵查幀褑鍏橀敍?
        LEFT JOIN fms_worker w ON sp.identity_card = w.identity_code COLLATE utf8mb4_general_ci
            AND NOT EXISTS (
                SELECT 1
                FROM fms_worker fw2
                WHERE fw2.identity_code = w.identity_code
                AND fw2.create_date &gt; w.create_date
            )
        LEFT JOIN fms_work_group wg ON w.work_group_id = wg.id
        -- 婢跺洨鏁ら崗瀹犱粓閿涘牓鈧俺绻僺wm_person鐞涖劋鑵戞穱婵嗙摠閻ㄥ墖eam鐎涙顔岄崗瀹犱粓閿?
        LEFT JOIN fms_work_group backup_wg ON sp.team = backup_wg.id COLLATE utf8mb4_general_ci
        WHERE sp.identity_card IN
        <foreach collection="list" item="idCard" open="(" separator="," close=")">
            #{idCard}
        </foreach>
        AND sp.status = '0'
    </select>
    
    <!-- 閺嶈宓侀獮缈犲敜閸滃本婀€娴犲€熷箯閸欐牔绗夐柌宥咁槻闊偂鍞ょ拠浣烘畱閹烘帞褰禍鐑樻殶 -->
    <select id="countDistinctPersonByYearAndMonth" resultType="int">
        SELECT 
            COUNT(DISTINCT id_card)
        FROM 
            swm_person_schedule
        WHERE 
            month = #{yearMonth}
            AND status = '0'
    </select>
    
    <!-- 闁插秴鍟揻indList閺傝纭堕敍灞惧潑閸旂姷绮嶇紒鍥ㄧ仸閺嬪嫬鍙ч懕鏃€鐓＄拠?Author: Shawn Date: 2025/01/27 -->
    <select id="findList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmPersonScheduleDO">
        SELECT 
            a.id AS "id",
            a.person_name AS "personName",
            a.month AS "month",
            a.classes AS "classes",
            a.id_card AS "idCard",
            a.employee_id AS "employeeId",
            jso.office_name AS  "organization",
            pa.position_name AS "workshop",
            pl.prod_line_name AS "process",
            wg.work_group_name AS "workGroupName",
            a.create_by AS "createBy",
            a.create_date AS "createDate",
            a.update_by AS "updateBy", 
            a.update_date AS "updateDate",
            a.remarks AS "remarks",
            a.status AS "status"
        FROM swm_person_schedule a
        left join swm_person sp on a.id_card = sp.identity_card
        LEFT JOIN fms_position_archive pa ON sp.department = pa.id COLLATE utf8mb4_general_ci
        LEFT JOIN fms_prod_line pl ON sp.prod_line = pl.id COLLATE utf8mb4_general_ci
        LEFT JOIN fms_work_group wg ON sp.team = wg.id COLLATE utf8mb4_general_ci
        LEFT JOIN swm_work_type backup_wt ON sp.job_type = backup_wt.work_type_code COLLATE utf8mb4_general_ci
        LEFT JOIN js_sys_office jso ON sp.company = jso.office_code COLLATE utf8mb4_general_ci
        <where>
            a.status = '0' and sp.status = '0'
            <if test="personName != null and personName != ''">
                AND a.person_name LIKE CONCAT('%', #{personName}, '%')
            </if>
            <if test="month != null and month != ''">
                AND a.month = #{month}
            </if>
            <if test="classes != null and classes != ''">
                AND a.classes = #{classes}
            </if>
            <if test="idCard != null and idCard != ''">
                AND a.id_card = #{idCard}
            </if>
            <!-- 閺傛澘顤冮崶娑氶獓閺屻儴顕楅弶鈥叉 -->
            <if test="organization != null and organization != ''">
                AND jso.office_name LIKE CONCAT('%', #{organization}, '%')
            </if>
            <if test="workshop != null and workshop != ''">
                AND pa.position_name LIKE CONCAT('%', #{workshop}, '%')
            </if>
            <if test="process != null and process != ''">
                AND pl.prod_line_name LIKE CONCAT('%', #{process}, '%')
            </if>
            <if test="workGroupName != null and workGroupName != ''">
                AND wg.work_group_name LIKE CONCAT('%', #{workGroupName}, '%')
            </if>
        </where>
        ORDER BY a.update_date DESC
    </select>
    <select id="scheduleList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmPersonScheduleDO">
        SELECT
        a.id AS "id",
        a.person_name AS "personName",
        a.month AS "month",
        a.id_card AS "idCard"
        FROM swm_person_schedule a
        <where>
            a.status = '0'
            <if test="month != null and month != ''">
                AND a.month = #{month}
            </if>
            <if test="tenantId != null and tenantId != ''">
                AND a.tenant_id = #{tenantId}
            </if>
            <!-- 閺傛澘顤冮梾蹇旀簚閺夆€叉閿涘本浜介幋鎰彌 -->
            AND #{random} = #{random}
        </where>
        ORDER BY a.id
    </select>
    <select id="findIdCardsByIds" resultType="java.lang.String">
        SELECT a.id_card FROM swm_person_schedule a
        <where>
            <if test="ids != null and ids.size() > 0">
                AND a.id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="findPersonIdsByNames" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.dto.SwmPersonDOScheduleExportDO">
        select name as personName, identity_card as idCard
        from swm_person
        where
        status = '0' and personnel_status = '1'
        and
            name IN
        <foreach collection="personNames" item="personName" open="(" separator="," close=")">
            #{personName}
        </foreach>
    </select>


    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            UPDATE swm_person_schedule
            <set>
                <if test="item.classes != null and item.classes != '' ">
                    classes = #{item.classes},
                </if>
                update_date = NOW()
            </set>
            WHERE id_card = #{item.idCard}
        </foreach>
    </update>

    <!-- 閹靛綊鍣烘穱顔芥暭閻濐厽顐奸敍姘壌閹圭敡mployee_id閹靛綊鍣洪弴瀛樻煀classes鐎涙顔?-->
    <update id="batchUpdateClasses">
        UPDATE swm_person_schedule
        SET
        classes = #{dto.classes},
        update_date = NOW()
        WHERE
        id IN
        <foreach collection="dto.ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


    <select id="findListByTenantId" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmPersonScheduleDO">
        SELECT
            a.id,
            sp.name as personName,
            a.id_card,
            sp.id as employeeId,
            sp.safety_helmet_id as deviceId,
            sp.person_type,
            a.classes
        FROM
            `swm_person_schedule` a
                LEFT JOIN swm_person sp on a.id_card = sp.identity_card
        <where>
            a.status = '0' and sp.status = '0'
            <if test="tenantId != null and tenantId != ''">
                AND a.tenant_id = #{tenantId}
            </if>
        </where>
    </select>

</mapper>

