<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmSafetyEducationMapper">
    
    <!-- 鏌ヨ鏁版嵁 -->
    <select id="findList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmSafetyEducationDO">
        SELECT 
        FROM 
        <where>
            
        </where>
        ORDER BY 
    </select>
    
    <!-- 鏌ヨ鎵€鏈夎褰曪紝涓嶅甫榛樿鐨勭姸鎬佽繃婊?-->
    <select id="findAllWithoutStatusFilter" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmSafetyEducationDO">
        SELECT 
            a.`id` AS "id", 
            a.`theme` AS "theme", 
            a.`safety_education_type` AS "safetyEducationType", 
            a.`start_time` AS "startTime", 
            a.`participants` AS "participants", 
            a.`participants_name` AS "participantsName", 
            a.`safety_status` AS "safetyStatus", 
            a.`participation_type` AS "participationType",
            a.`attachment_url` AS "attachmentUrl",
            a.`create_time` AS "createTime", 
            a.`update_time` AS "updateTime",
            a.`status` AS "status"
        FROM 
            `swm_safety_education` a
        WHERE
            a.`status` = 0
        ORDER BY 
            a.update_time DESC
    </select>
    
    <!-- 鏍规嵁鑷畾涔夋潯浠舵煡璇㈠畨鍏ㄦ暀鑲茶褰?-->
    <select id="findByCustomConditions" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmSafetyEducationDO">
        SELECT 
            a.`id` AS "id", 
            a.`theme` AS "theme",
            a.`content_description` AS "contentDescription", 
            a.`safety_education_type` AS "safetyEducationType", 
            a.`start_time` AS "startTime", 
            a.`participants` AS "participants", 
            a.`participants_name` AS "participantsName", 
            a.`safety_status` AS "safetyStatus", 
            a.`participation_type` AS "participationType",
            a.`attachment_url` AS "attachmentUrl",
            a.`create_time` AS "createTime", 
            a.`update_time` AS "updateTime",
            a.`status` AS "status"
        FROM 
            `swm_safety_education` a
        <where>
            a.`status` = 0
            
            <!-- 涓婚妯＄硦鏌ヨ -->
            <if test="theme != null and theme != ''">
                AND a.`theme` LIKE CONCAT('%', #{theme}, '%')
            </if>
            
            <!-- 瀹夊叏鏁欒偛绫诲瀷绮剧‘鍖归厤 -->
            <if test="safetyEducationType != null and safetyEducationType != ''">
                AND a.`safety_education_type` = #{safetyEducationType}
            </if>
            
            <!-- 鍙備笌绫诲瀷绮剧‘鍖归厤 -->
            <if test="participationType != null and participationType != ''">
                AND a.`participation_type` = #{participationType}
            </if>
            
            <!-- 鐘舵€佺簿纭尮閰?-->
            <if test="safetyStatus != null and safetyStatus != ''">
                AND a.`safety_status` = #{safetyStatus}
            </if>
        </where>
        ORDER BY
            a.update_time DESC
    </select>

    <!-- 鏍规嵁韬唤璇佸彿鏌ヨ璇ヤ汉鍛樺弬涓庣殑鎵€鏈夊畨鍏ㄦ暀鑲茶褰?-->
    <select id="findByIdentityCard" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmSafetyEducationDO">
        SELECT
            a.`id` AS "id",
            a.`theme` AS "theme",
            a.`content_description` AS "contentDescription",
            a.`safety_education_type` AS "safetyEducationType",
            a.`start_time` AS "startTime",
            a.`participants` AS "participants",
            a.`participants_name` AS "participantsName",
            a.`safety_status` AS "safetyStatus",
            a.`participation_type` AS "participationType",
            a.`attachment_url` AS "attachmentUrl",
            a.`create_time` AS "createTime",
            a.`update_time` AS "updateTime",
            a.`status` AS "status"
        FROM
            `swm_safety_education` a
        WHERE
            a.`status` = 0
            AND EXISTS (
                <!-- 閫氳繃瀛愭煡璇㈡壘鍒拌韬唤璇佸搴旂殑鎵€鏈変汉鍛業D -->
                SELECT 1 FROM `swm_person` p
                WHERE p.`identity_card` = #{identityCard}
                AND p.`status` = '0'
                AND (
                    <!-- 鏂瑰紡1: 妫€鏌SON鏍煎紡骞朵娇鐢↗SON_CONTAINS鏌ユ壘浜哄憳ID -->
                    (
                        a.`participants` IS NOT NULL
                        AND a.`participants` != ''
                        AND JSON_VALID(a.`participants`) = 1
                        AND JSON_CONTAINS(a.`participants`, JSON_QUOTE(p.`id`))
                    )
                    OR
                    <!-- 鏂瑰紡2: 閫楀彿鍒嗛殧鏍煎紡鏌ユ壘 -->
                    (
                        a.`participants` IS NOT NULL
                        AND a.`participants` != ''
                        AND FIND_IN_SET(p.`id`, a.`participants`) > 0
                    )
                    OR
                    <!-- 鏂瑰紡3: 鐩存帴鍖呭惈鏌ユ壘锛堝吋瀹瑰叾浠栨牸寮忥級 -->
                    (
                        a.`participants` IS NOT NULL
                        AND a.`participants` != ''
                        AND a.`participants` LIKE CONCAT('%', p.`id`, '%')
                    )
                )
            )
        ORDER BY
            a.start_time DESC, a.update_time DESC
    </select>

</mapper>
