<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmWarningManagementMapper">

    <!-- 查询数据 -->
    <select id="findList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT 
        FROM 
        <where>
            
            <if test="random != null and random != 0 ">
                AND #{random} = #{random}
            </if>
        </where>
        ORDER BY 
    </select>

    <!-- 查询所有记录，不带默认的状态过滤 -->
    <select id="findAllWithoutStatusFilter" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.`id` AS "id",
            a.`create_by` AS "createBy",
            a.`create_date` AS "createDate",
            a.`update_by` AS "updateBy",
            a.`update_date` AS "updateDate",
            a.`remarks` AS "remarks",
            a.`status` AS "status",
            a.`person_name` AS "personName",
            a.`warning_type` AS "warningType",
            a.`warning_content` AS "warningContent",
            a.`warning_time` AS "warningTime",
            a.`alarm_record` AS "alarmRecord",
            a.`alarm_time` AS "alarmTime",
            a.`trigger_reason` AS "triggerReason",
            a.`handler` AS "handler",
            a.`handle_time` AS "handleTime",
            a.`handle_process` AS "handleProcess",
            a.`handle_status` AS "handleStatus",
            a.`attachment` AS "attachment",
            a.`disposal_duration` AS "disposalDuration"
        FROM
            `swm_warning_management` a
        ORDER BY
            a.warning_time DESC
    </select>

    <!-- 向MySQL数据库插入预警处置记录 -->
    <insert id="insertToMySql">
        INSERT INTO swm_warning_management (
            id, create_by, create_date, update_by, update_date, remarks, status,
            person_name, warning_type, warning_content, warning_time, alarm_record,
            alarm_time, trigger_reason, handler, handle_time, handle_process,
            handle_status, attachment, device_id, id_card, disposal_duration, location, area
        ) VALUES (
            #{id}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{remarks}, #{status},
            #{personName}, #{warningType}, #{warningContent}, #{warningTime}, #{alarmRecord},
            #{alarmTime}, #{triggerReason}, #{handler}, #{handleTime}, #{handleProcess},
            #{handleStatus}, #{attachment}, #{deviceId}, #{idCard}, #{disposalDuration}, #{location}, #{area}
        )
    </insert>

    <!-- 根据ID集合批量查询MySQL数据库中的预警记录 -->
    <select id="findInMySqlByIds" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y
        FROM
            swm_warning_management a
        WHERE
            a.id IN
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <!-- 根据ID和身份证号查询MySQL数据库中的预警记录 -->
    <select id="findInMySqlByIdAndIdCard" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y,
            a.location AS location, a.area AS area
        FROM
            swm_warning_management a
        WHERE
            a.id = #{id}
            <if test="idCard != null and idCard != ''">
            AND a.id_card = #{idCard}
            </if>
        LIMIT 1
    </select>

    <!-- 在MySQL中按条件查询已处置的预警数据 -->
    <select id="findProcessedInMySql" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y
        FROM
            swm_warning_management a
        WHERE
            a.handle_status = '1'
            <if test="personName != null and personName != ''">
                AND a.person_name LIKE CONCAT('%', #{personName}, '%')
            </if>
            <if test="warningType != null and warningType != ''">
                AND a.warning_type = #{warningType}
            </if>
            <if test="warningContent != null and warningContent != ''">
                AND a.warning_content = #{warningContent}
            </if>
            <!-- 排除一键SOS预警 -->
            <if test="excludeSOS == true">
                AND a.warning_content  != '一键SOS'
            </if>
            <!-- 排除考勤打卡预警 -->
            <if test="excludeAttendance == true">
                AND a.warning_content != '考勤打卡'
            </if>
            <!-- 排除进入大门预警 -->
            <if test="excludeGateEntry == true">
                AND a.warning_content != '进入大门'
            </if>
        <if test="warningContentList != null and warningContentList.size >0">
            AND a.warning_content in
        <foreach item="warningContent" collection="warningContentList" separator="," open="(" close=")">
              #{warningContent}
        </foreach>
        </if>
        ORDER BY
            a.warning_time DESC
    </select>

    <!-- 查询所有已处置记录的ID -->
    <select id="findAllProcessedIds" resultType="String">
        SELECT
            a.id
        FROM
            swm_warning_management a
        WHERE
            a.handle_status = '1'
    </select>

    <!-- 获取所有已处置的记录（handle_status为1） -->
    <select id="findAllProcessedWarnings" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y
        FROM
            swm_warning_management a
        WHERE
            a.handle_status = '1'
    </select>

    <!-- 查询近7天(包含今天)的预警，排除一键SOS -->
    <select id="listPast7DaysWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
        AND warning_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)
        AND status = '0'
        AND warning_content  != '一键SOS'
    </select>

    <!-- 获取今日的预警，排除一键SOS -->
    <select id="listTodayWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= CURDATE()
        AND warning_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)
        AND status = '0'
        AND warning_content  != '一键SOS'
        AND warning_content != '考勤打卡'
        AND warning_content != '进入大门'
    </select>

    <!-- 获取当月的预警，排除一键SOS -->
    <select id="listCurrentMonthWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= DATE_FORMAT(CURDATE(), '%Y-%m-01')
        AND warning_time &lt; DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)
        AND status = '0'
        AND warning_content  != '一键SOS'
        AND warning_content != '考勤打卡'
        AND warning_content != '进入大门'
    </select>

    <!-- 获取当月已处理的预警，排除一键SOS -->
    <select id="listCurrentMonthHandledWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= DATE_FORMAT(CURDATE(), '%Y-%m-01')
        AND warning_time &lt; DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)
        AND handle_status = '1'
        AND status = '0'
        AND warning_content  != '一键SOS'
        AND warning_content != '考勤打卡'
        AND warning_content != '进入大门'
    </select>

    <!-- 根据身份证号列表批量查询班组名称 -->
    <select id="findWorkGroupNamesByIdCards" resultType="java.util.Map">
        SELECT
            w.identity_code AS idCard,
            wg.work_group_name AS value
        FROM
            fms_worker w
        LEFT JOIN
            fms_work_group wg ON w.work_group_id = wg.id
        WHERE
            w.identity_code IN
            <foreach collection="idCards" item="idCard" open="(" separator="," close=")">
                #{idCard}
            </foreach>
    </select>

    <!-- 按日期范围分组统计 -->
    <select id="countByDateRangeGroupByDay" resultType="map">
        SELECT DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
               COUNT(*)                              as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '危险源报警'
                   ELSE warning_content != '危险源报警'
            END)
        GROUP BY DATE(warning_time)
        ORDER BY date
    </select>

    <!--    查询TOP N危险源类别-->
    <select id="findTopCategories" resultType="map">
        SELECT
        hazard_category AS category,
        COUNT(*) AS count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '危险源报警'
        GROUP BY hazard_category
        ORDER BY count DESC
        LIMIT #{limit}
    </select>

    <!--    查询TOP N预警内容-->
    <select id="findTopWarningContent" resultType="map">
        SELECT
            warning_content AS warningContent,
            COUNT(*) AS count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content != '危险源报警'
          AND warning_content != '一键SOS'
          AND warning_content != '考勤打卡'
          AND warning_content != '进入大门'
        GROUP BY warning_content
        ORDER BY count DESC
        LIMIT #{limit}
    </select>

    <!-- 查询TOP N违规人员 -->
    <select id="findViolationPersonTop10" resultType="map">
        SELECT
        a.person_name AS "personName",
        COUNT(*) AS "violationCount",
        GROUP_CONCAT(DISTINCT a.warning_type) AS "warningType"
        FROM
        swm_warning_management a
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '危险源报警'
        GROUP BY
        a.person_name
        ORDER BY
        COUNT(*) DESC
        LIMIT #{limit}
    </select>

    <!-- 按类别和日期范围分组统计 -->
    <select id="countHazardCategoryCategoryTrendByDateRange" resultType="map">
        SELECT
            hazard_category as category,
            DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
            COUNT(*) as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '危险源报警'
          AND hazard_category is not null
        GROUP BY hazard_category, DATE(warning_time)
        ORDER BY date, category
    </select>

    <!-- 按告警内容和日期范围分组统计 -->
    <select id="countHazardCategoryCategoryTrendByDateRange" resultType="map">
        SELECT
            hazard_category as category,
            DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
            COUNT(*) as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '危险源报警'
          AND hazard_category is not null
        GROUP BY hazard_category, DATE(warning_time)
        ORDER BY date, category
    </select>

    <select id="countWarningContentTrendByDateRange" resultType="java.util.Map">
        SELECT
            warning_content as category,
            DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
            COUNT(*) as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content != '危险源报警'
          AND warning_content != '一键SOS'
          AND warning_content != '考勤打卡'
          AND warning_content != '进入大门'
          AND warning_content is not null
        GROUP BY warning_content, DATE(warning_time)
        ORDER BY date, category
    </select>

    <!-- 按时间范围统计数量 -->
    <select id="countByDateRange" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '危险源报警'
                   ELSE warning_content != '危险源报警'
            END)
    </select>

    <!-- 按预警内容统计总数 -->
    <select id="countTotal" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '危险源报警'
                   ELSE warning_content != '危险源报警'
            END)
    </select>

    <!-- 统计不同违规人员数量 -->
    <select id="countDistinctPersonByWarningContentAndDateRange" resultType="long">
        SELECT COUNT(DISTINCT person_name)
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '危险源报警'
                   ELSE warning_content != '危险源报警'
            END)
    </select>

    <select id="latestHazardSourceRecord" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT a.id,
               a.person_name     AS personName,
               a.warning_type    AS warningType,
               a.warning_content AS warningContent,
               a.warning_time    AS warningTime,
               a.alarm_record    AS alarmRecord,
               a.alarm_time      AS alarmTime,
               a.trigger_reason  AS triggerReason,
               a.handler,
               a.handle_time     AS handleTime,
               a.handle_process  AS handleProcess,
               a.handle_status   AS handleStatus,
               a.attachment,
               a.device_id       AS deviceId,
               a.id_card         AS idCard,
               a.hazard_category AS hazardCategory
        FROM swm_warning_management a
        WHERE a.status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '危险源报警'
                   ELSE warning_content != '危险源报警'
            END)
        order by a.warning_time desc
        limit #{limit}
    </select>

    <!-- 处置效率TOP N统计 -->
    <select id="findHandleEfficiencyTop10" resultType="map">
        SELECT a.handler                          AS "handler",
               ROUND(AVG(a.disposal_duration), 2) AS "avgHandleMinutes"
        FROM swm_warning_management a
        WHERE a.warning_content != '危险源报警'
          AND a.handle_status = '1'
          AND a.handler IS NOT NULL
          AND a.disposal_duration IS NOT NULL
          AND DATE(handle_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
        GROUP BY a.handler
        HAVING COUNT(*) > 0
        ORDER BY avgHandleMinutes ASC
        LIMIT #{limit}
    </select>

    <select id="countHandledByDateRange" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management a
        WHERE a.handle_status = '1'
          AND DATE(handle_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND a.status = '0'
    </select>

    <select id="countTodayNonHazardSource" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE warning_time <![CDATA[ >= ]]> DATE_FORMAT(CURDATE(), '%Y-%m-%d 00:00:00')
        AND warning_time <![CDATA[ <= ]]> DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 00:00:00')
        AND status = '0'
          AND warning_content != '危险源报警'
          AND warning_content != '一键SOS'
          AND warning_content != '考勤打卡'
        AND warning_content != '进入大门'
    </select>
    
    <!-- 统计当日已处理的预警数（排除考勤打卡和进入大门） -->
    <select id="countTodayHandledWarnings" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE DATE(handle_time) = CURDATE()
        AND handle_status = '1'
        AND warning_content NOT IN ('考勤打卡', '进入大门')
        AND status = '0'
    </select>
    <select id="getWarningManagementList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id,id_card
        FROM
            swm_warning_management
        WHERE
            front_alarm = '1'
    </select>
    <select id="theAlarmHasBeenDealtWith" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            swm_warning_management
        <where>
            handle_status = '1'
        <if test="startTime != null and endTime !=  null ">
            and handle_time BETWEEN #{startTime} and #{endTime}
        </if>
        </where>
    </select>
    <select id="getWarnIdCardByFiveMinute" resultType="java.lang.String">
        SELECT
            device_id
        FROM
            swm_warning_management
        WHERE
            warning_time >= #{startTime}
        GROUP BY
            id_card
    </select>

    <!-- 按报警类型分组统计已处置的预警数量 -->
    <select id="countHandledGroupByWarningContent" resultType="map">
        SELECT
            warning_content AS warningContent,
            COUNT(*) AS count
        FROM swm_warning_management
        WHERE handle_status = '1'
          AND status = '0'
          AND warning_content NOT IN ('一键SOS', '考勤打卡', '进入大门')
          AND handle_time BETWEEN #{beginDate} AND #{endDate}
        GROUP BY warning_content
        ORDER BY count DESC
    </select>
</mapper>
