<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.swm.dal.mysql.SwmWarningManagementMapper">

    <!-- 鏌ヨ鏁版嵁 -->
    <select id="findList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT 
        FROM 
        <where>
            
            <if test="random != null and random != 0 ">
                AND #{random} = #{random}
            </if>
        </where>
        ORDER BY 
    </select>

    <!-- 鏌ヨ鎵€鏈夎褰曪紝涓嶅甫榛樿鐨勭姸鎬佽繃婊?-->
    <select id="findAllWithoutStatusFilter" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.`id` AS "id",
            a.`create_by` AS "createBy",
            a.`create_date` AS "createDate",
            a.`update_by` AS "updateBy",
            a.`update_date` AS "updateDate",
            a.`remarks` AS "remarks",
            a.`status` AS "status",
            a.`person_name` AS "personName",
            a.`warning_type` AS "warningType",
            a.`warning_content` AS "warningContent",
            a.`warning_time` AS "warningTime",
            a.`alarm_record` AS "alarmRecord",
            a.`alarm_time` AS "alarmTime",
            a.`trigger_reason` AS "triggerReason",
            a.`handler` AS "handler",
            a.`handle_time` AS "handleTime",
            a.`handle_process` AS "handleProcess",
            a.`handle_status` AS "handleStatus",
            a.`attachment` AS "attachment",
            a.`disposal_duration` AS "disposalDuration"
        FROM
            `swm_warning_management` a
        ORDER BY
            a.warning_time DESC
    </select>

    <!-- 鍚慚ySQL鏁版嵁搴撴彃鍏ラ璀﹀缃褰?-->
    <insert id="insertToMySql">
        INSERT INTO swm_warning_management (
            id, create_by, create_date, update_by, update_date, remarks, status,
            person_name, warning_type, warning_content, warning_time, alarm_record,
            alarm_time, trigger_reason, handler, handle_time, handle_process,
            handle_status, attachment, device_id, id_card, disposal_duration, location, area
        ) VALUES (
            #{id}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{remarks}, #{status},
            #{personName}, #{warningType}, #{warningContent}, #{warningTime}, #{alarmRecord},
            #{alarmTime}, #{triggerReason}, #{handler}, #{handleTime}, #{handleProcess},
            #{handleStatus}, #{attachment}, #{deviceId}, #{idCard}, #{disposalDuration}, #{location}, #{area}
        )
    </insert>

    <!-- 鏍规嵁ID闆嗗悎鎵归噺鏌ヨMySQL鏁版嵁搴撲腑鐨勯璀﹁褰?-->
    <select id="findInMySqlByIds" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y
        FROM
            swm_warning_management a
        WHERE
            a.id IN
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <!-- 鏍规嵁ID鍜岃韩浠借瘉鍙锋煡璇ySQL鏁版嵁搴撲腑鐨勯璀﹁褰?-->
    <select id="findInMySqlByIdAndIdCard" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y,
            a.location AS location, a.area AS area
        FROM
            swm_warning_management a
        WHERE
            a.id = #{id}
            <if test="idCard != null and idCard != ''">
            AND a.id_card = #{idCard}
            </if>
        LIMIT 1
    </select>

    <!-- 鍦∕ySQL涓寜鏉′欢鏌ヨ宸插缃殑棰勮鏁版嵁 -->
    <select id="findProcessedInMySql" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y
        FROM
            swm_warning_management a
        WHERE
            a.handle_status = '1'
            <if test="personName != null and personName != ''">
                AND a.person_name LIKE CONCAT('%', #{personName}, '%')
            </if>
            <if test="warningType != null and warningType != ''">
                AND a.warning_type = #{warningType}
            </if>
            <if test="warningContent != null and warningContent != ''">
                AND a.warning_content = #{warningContent}
            </if>
            <!-- 鎺掗櫎涓€閿甋OS棰勮 -->
            <if test="excludeSOS == true">
                AND a.warning_content  != '涓€閿甋OS'
            </if>
            <!-- 鎺掗櫎鑰冨嫟鎵撳崱棰勮 -->
            <if test="excludeAttendance == true">
                AND a.warning_content != '鑰冨嫟鎵撳崱'
            </if>
            <!-- 鎺掗櫎杩涘叆澶ч棬棰勮 -->
            <if test="excludeGateEntry == true">
                AND a.warning_content != '杩涘叆澶ч棬'
            </if>
        <if test="warningContentList != null and warningContentList.size >0">
            AND a.warning_content in
        <foreach item="warningContent" collection="warningContentList" separator="," open="(" close=")">
              #{warningContent}
        </foreach>
        </if>
        ORDER BY
            a.warning_time DESC
    </select>

    <!-- 鏌ヨ鎵€鏈夊凡澶勭疆璁板綍鐨処D -->
    <select id="findAllProcessedIds" resultType="String">
        SELECT
            a.id
        FROM
            swm_warning_management a
        WHERE
            a.handle_status = '1'
    </select>

    <!-- 鑾峰彇鎵€鏈夊凡澶勭疆鐨勮褰曪紙handle_status涓?锛?-->
    <select id="findAllProcessedWarnings" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            a.id, a.create_by AS createBy, a.create_date AS createDate,
            a.update_by AS updateBy, a.update_date AS updateDate,
            a.remarks, a.status, a.person_name AS personName,
            a.warning_type AS warningType, a.warning_content AS warningContent,
            a.warning_time AS warningTime, a.alarm_record AS alarmRecord,
            a.alarm_time AS alarmTime, a.trigger_reason AS triggerReason,
            a.handler, a.handle_time AS handleTime,
            a.handle_process AS handleProcess, a.handle_status AS handleStatus,
            a.attachment, a.device_id AS deviceId, a.id_card AS idCard,
            a.disposal_duration AS disposalDuration, a.x AS x, a.y AS y
        FROM
            swm_warning_management a
        WHERE
            a.handle_status = '1'
    </select>

    <!-- 鏌ヨ杩?澶?鍖呭惈浠婂ぉ)鐨勯璀︼紝鎺掗櫎涓€閿甋OS -->
    <select id="listPast7DaysWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
        AND warning_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)
        AND status = '0'
        AND warning_content  != '涓€閿甋OS'
    </select>

    <!-- 鑾峰彇浠婃棩鐨勯璀︼紝鎺掗櫎涓€閿甋OS -->
    <select id="listTodayWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= CURDATE()
        AND warning_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)
        AND status = '0'
        AND warning_content  != '涓€閿甋OS'
        AND warning_content != '鑰冨嫟鎵撳崱'
        AND warning_content != '杩涘叆澶ч棬'
    </select>

    <!-- 鑾峰彇褰撴湀鐨勯璀︼紝鎺掗櫎涓€閿甋OS -->
    <select id="listCurrentMonthWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= DATE_FORMAT(CURDATE(), '%Y-%m-01')
        AND warning_time &lt; DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)
        AND status = '0'
        AND warning_content  != '涓€閿甋OS'
        AND warning_content != '鑰冨嫟鎵撳崱'
        AND warning_content != '杩涘叆澶ч棬'
    </select>

    <!-- 鑾峰彇褰撴湀宸插鐞嗙殑棰勮锛屾帓闄や竴閿甋OS -->
    <select id="listCurrentMonthHandledWarning" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id, create_by AS createBy, create_date AS createDate,
            update_by AS updateBy, update_date AS updateDate,
            remarks, status, person_name AS personName,
            warning_type AS warningType, warning_content AS warningContent,
            warning_time AS warningTime, alarm_record AS alarmRecord,
            alarm_time AS alarmTime, trigger_reason AS triggerReason,
            handler, handle_time AS handleTime,
            handle_process AS handleProcess, handle_status AS handleStatus,
            attachment, device_id AS deviceId, id_card AS idCard,
            disposal_duration AS disposalDuration, x AS x, y AS y
        FROM swm_warning_management
        WHERE warning_time &gt;= DATE_FORMAT(CURDATE(), '%Y-%m-01')
        AND warning_time &lt; DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)
        AND handle_status = '1'
        AND status = '0'
        AND warning_content  != '涓€閿甋OS'
        AND warning_content != '鑰冨嫟鎵撳崱'
        AND warning_content != '杩涘叆澶ч棬'
    </select>

    <!-- 鏍规嵁韬唤璇佸彿鍒楄〃鎵归噺鏌ヨ鐝粍鍚嶇О -->
    <select id="findWorkGroupNamesByIdCards" resultType="java.util.Map">
        SELECT
            w.identity_code AS idCard,
            wg.work_group_name AS value
        FROM
            fms_worker w
        LEFT JOIN
            fms_work_group wg ON w.work_group_id = wg.id
        WHERE
            w.identity_code IN
            <foreach collection="idCards" item="idCard" open="(" separator="," close=")">
                #{idCard}
            </foreach>
    </select>

    <!-- 鎸夋棩鏈熻寖鍥村垎缁勭粺璁?-->
    <select id="countByDateRangeGroupByDay" resultType="map">
        SELECT DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
               COUNT(*)                              as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '鍗遍櫓婧愭姤璀?
                   ELSE warning_content != '鍗遍櫓婧愭姤璀?
            END)
        GROUP BY DATE(warning_time)
        ORDER BY date
    </select>

    <!--    鏌ヨTOP N鍗遍櫓婧愮被鍒?->
    -->
    <select id="findTopCategories" resultType="map">
        SELECT
        hazard_category AS category,
        COUNT(*) AS count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '鍗遍櫓婧愭姤璀?
        GROUP BY hazard_category
        ORDER BY count DESC
        LIMIT #{limit}
    </select>

    <!--    鏌ヨTOP N棰勮鍐呭-->
    <select id="findTopWarningContent" resultType="map">
        SELECT
            warning_content AS warningContent,
            COUNT(*) AS count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content != '鍗遍櫓婧愭姤璀?
          AND warning_content != '涓€閿甋OS'
          AND warning_content != '鑰冨嫟鎵撳崱'
          AND warning_content != '杩涘叆澶ч棬'
        GROUP BY warning_content
        ORDER BY count DESC
        LIMIT #{limit}
    </select>

    <!-- 鏌ヨTOP N杩濊浜哄憳 -->
    <select id="findViolationPersonTop10" resultType="map">
        SELECT
        a.person_name AS "personName",
        COUNT(*) AS "violationCount",
        GROUP_CONCAT(DISTINCT a.warning_type) AS "warningType"
        FROM
        swm_warning_management a
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '鍗遍櫓婧愭姤璀?
        GROUP BY
        a.person_name
        ORDER BY
        COUNT(*) DESC
        LIMIT #{limit}
    </select>

    <!-- 鎸夌被鍒拰鏃ユ湡鑼冨洿鍒嗙粍缁熻 -->
    <select id="countHazardCategoryCategoryTrendByDateRange" resultType="map">
        SELECT
            hazard_category as category,
            DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
            COUNT(*) as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '鍗遍櫓婧愭姤璀?
          AND hazard_category is not null
        GROUP BY hazard_category, DATE(warning_time)
        ORDER BY date, category
    </select>

    <!-- 鎸夊憡璀﹀唴瀹瑰拰鏃ユ湡鑼冨洿鍒嗙粍缁熻 -->
    <select id="countHazardCategoryCategoryTrendByDateRange" resultType="map">
        SELECT
            hazard_category as category,
            DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
            COUNT(*) as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content = '鍗遍櫓婧愭姤璀?
          AND hazard_category is not null
        GROUP BY hazard_category, DATE(warning_time)
        ORDER BY date, category
    </select>

    <select id="countWarningContentTrendByDateRange" resultType="java.util.Map">
        SELECT
            warning_content as category,
            DATE_FORMAT(warning_time, '%Y-%m-%d') as date,
            COUNT(*) as count
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND warning_content != '鍗遍櫓婧愭姤璀?
          AND warning_content != '涓€閿甋OS'
          AND warning_content != '鑰冨嫟鎵撳崱'
          AND warning_content != '杩涘叆澶ч棬'
          AND warning_content is not null
        GROUP BY warning_content, DATE(warning_time)
        ORDER BY date, category
    </select>

    <!-- 鎸夋椂闂磋寖鍥寸粺璁℃暟閲?-->
    <select id="countByDateRange" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '鍗遍櫓婧愭姤璀?
                   ELSE warning_content != '鍗遍櫓婧愭姤璀?
            END)
    </select>

    <!-- 鎸夐璀﹀唴瀹圭粺璁℃€绘暟 -->
    <select id="countTotal" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '鍗遍櫓婧愭姤璀?
                   ELSE warning_content != '鍗遍櫓婧愭姤璀?
            END)
    </select>

    <!-- 缁熻涓嶅悓杩濊浜哄憳鏁伴噺 -->
    <select id="countDistinctPersonByWarningContentAndDateRange" resultType="long">
        SELECT COUNT(DISTINCT person_name)
        FROM swm_warning_management
        WHERE DATE(warning_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '鍗遍櫓婧愭姤璀?
                   ELSE warning_content != '鍗遍櫓婧愭姤璀?
            END)
    </select>

    <select id="latestHazardSourceRecord" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT a.id,
               a.person_name     AS personName,
               a.warning_type    AS warningType,
               a.warning_content AS warningContent,
               a.warning_time    AS warningTime,
               a.alarm_record    AS alarmRecord,
               a.alarm_time      AS alarmTime,
               a.trigger_reason  AS triggerReason,
               a.handler,
               a.handle_time     AS handleTime,
               a.handle_process  AS handleProcess,
               a.handle_status   AS handleStatus,
               a.attachment,
               a.device_id       AS deviceId,
               a.id_card         AS idCard,
               a.hazard_category AS hazardCategory
        FROM swm_warning_management a
        WHERE a.status = '0'
          AND (CASE
                   WHEN #{isHazardSourceAlarm,jdbcType=BOOLEAN} = TRUE THEN warning_content = '鍗遍櫓婧愭姤璀?
                   ELSE warning_content != '鍗遍櫓婧愭姤璀?
            END)
        order by a.warning_time desc
        limit #{limit}
    </select>

    <!-- 澶勭疆鏁堢巼TOP N缁熻 -->
    <select id="findHandleEfficiencyTop10" resultType="map">
        SELECT a.handler                          AS "handler",
               ROUND(AVG(a.disposal_duration), 2) AS "avgHandleMinutes"
        FROM swm_warning_management a
        WHERE a.warning_content != '鍗遍櫓婧愭姤璀?
          AND a.handle_status = '1'
          AND a.handler IS NOT NULL
          AND a.disposal_duration IS NOT NULL
          AND DATE(handle_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
        GROUP BY a.handler
        HAVING COUNT(*) > 0
        ORDER BY avgHandleMinutes ASC
        LIMIT #{limit}
    </select>

    <select id="countHandledByDateRange" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management a
        WHERE a.handle_status = '1'
          AND DATE(handle_time) BETWEEN #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}
          AND a.status = '0'
    </select>

    <select id="countTodayNonHazardSource" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE warning_time <![CDATA[ >= ]]> DATE_FORMAT(CURDATE(), '%Y-%m-%d 00:00:00')
        AND warning_time <![CDATA[ <= ]]> DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 00:00:00')
        AND status = '0'
          AND warning_content != '鍗遍櫓婧愭姤璀?
          AND warning_content != '涓€閿甋OS'
          AND warning_content != '鑰冨嫟鎵撳崱'
        AND warning_content != '杩涘叆澶ч棬'
    </select>
    
    <!-- 缁熻褰撴棩宸插鐞嗙殑棰勮鏁帮紙鎺掗櫎鑰冨嫟鎵撳崱鍜岃繘鍏ュぇ闂級 -->
    <select id="countTodayHandledWarnings" resultType="long">
        SELECT COUNT(*)
        FROM swm_warning_management
        WHERE DATE(handle_time) = CURDATE()
        AND handle_status = '1'
        AND warning_content NOT IN ('鑰冨嫟鎵撳崱', '杩涘叆澶ч棬')
        AND status = '0'
    </select>
    <select id="getWarningManagementList" resultType="cn.iocoder.yudao.module.swm.dal.dataobject.SwmWarningManagementDO">
        SELECT
            id,id_card
        FROM
            swm_warning_management
        WHERE
            front_alarm = '1'
    </select>
    <select id="theAlarmHasBeenDealtWith" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            swm_warning_management
        <where>
            handle_status = '1'
        <if test="startTime != null and endTime !=  null ">
            and handle_time BETWEEN #{startTime} and #{endTime}
        </if>
        </where>
    </select>
    <select id="getWarnIdCardByFiveMinute" resultType="java.lang.String">
        SELECT
            device_id
        FROM
            swm_warning_management
        WHERE
            warning_time >= #{startTime}
        GROUP BY
            id_card
    </select>

    <!-- 鎸夋姤璀︾被鍨嬪垎缁勭粺璁″凡澶勭疆鐨勯璀︽暟閲?-->
    <select id="countHandledGroupByWarningContent" resultType="map">
        SELECT
            warning_content AS warningContent,
            COUNT(*) AS count
        FROM swm_warning_management
        WHERE handle_status = '1'
          AND status = '0'
          AND warning_content NOT IN ('涓€閿甋OS', '鑰冨嫟鎵撳崱', '杩涘叆澶ч棬')
          AND handle_time BETWEEN #{beginDate} AND #{endDate}
        GROUP BY warning_content
        ORDER BY count DESC
    </select>
</mapper>

